* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: #222831;
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    color: #EEEEEE;
}

.Nombre {
    margin-top: 1%;
    height: 100%;
    width: 15%;
    margin-left: 5%;
    text-align: center;
    font-size: 150%;
}

.fa-bars{
    margin-left: auto;
    margin-right: 10rem; 
}

.Número {
    height: 1.8rem;
    width: 1.8rem;
    border: 1.8px solid #EEEEEE;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}

.Main-content{
    min-height: calc(100vh - 6.5rem);
    display: flex;
    background-color: #EEEEEE;
}

#Carrusel{
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.Conten-carrusel{
    height: 100%;
    position: relative;
}

.Item-carrusel {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Flechas-carrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;  
}

#item-1{
    background-color: #393e46;
}

#item-2{
    background-color: #393e46;
}

#item-3{
    background-color: #393e46;
}

.Imagen-carrusel{
    height: 100%;
}

a{
    text-decoration: none;
}


.Footer {
    background-color: #222831;
    height: 3rem;
    text-align: center;
    line-height: 2.5rem;
    color: #EEEEEE;
}
